<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <section class="main" {% if  prediction %}
        style="background-image: url('/static/{{prediction[0]}}');background-size: cover;background-repeat: no-repeat;background-position: center; height: 100vh; position: relative;"
        {% else %}
        style="background-image: url('https://thumbs.dreamstime.com/b/apricot-fruit-vector-cartoon-set-icon-illustration-peach-white-background-isolated-icons-179829768.jpg);background-size: cover;background-repeat: no-repeat;background-position: center; height: 100vh; position: relative;"
        {% endif %}>
        <nav>

            <a class="navbar-brand" href="#">Creedorian</a>

            <span class="spacing"></span>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Recent</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
            <a href="#" class="hey"><strong>Say Hi !</strong> </a>
        </nav>
        <div class="slider-item">
            <section>
                <div style="position: relative; margin-top: 0%;">
                    <h1 style="text-align: center; font-size: 35px;">CLASSIFIER</h1>
                </div>
            </section><br>
            <div style="text-align: center; position: re;">
                <img src="https://th.bing.com/th/id/OIP.wL6SrzJJGluAotZNSN1pwQHaE8?w=291&h=194&c=7&o=5&dpr=1.25&pid=1.7"
                    height="200px" width="200px" alt="image not available" style="border-end-start-radius: 20%;">
                <img src="https://th.bing.com/th/id/OIP.SpxTza2RzSFjxosWLwpfxwHaE8?w=234&h=180&c=7&o=5&dpr=1.25&pid=1.7"
                    height="200" width="200" style="border-end-end-radius: 20%;">
            </div>
            <h1 style="text-align: center;">UPLOAD TO PREDICT</h1>


            <div style="text-align: center;">
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="imagefile"> <br><br>
                    <center> <input type="submit" class="a-btn" value="submit"></center>
                </form>
            </div>
            {% if prediction %}
            <h1 style="text-align: center; font-size: xx-large;">{{prediction[1]}}</h1>
            {% else %}
            <br><br><br><br><br><br><br><br><br><br><br><br><br>{% endif %}
        </div>
</body>

</html>